{{ define "main" }}
{{$bread:= .}}
{{$sites :=.Sites.First.GetPage "/uploads"}}
    {{ with .Params }}
    <section class="banner-area" >
        {{ partial "breadcrumbs.html" $bread }}
        <div class="banner-logo-cnt"> <img class='banner-logo' src="{{ `images/s-brands-logo.svg` | absURL }}"></div>
        <div class="header-cnt">
            {{- partial "header-tag.html" (dict "context" . "header_list" .header_repeater "custom_class" "banner-header")  -}}
            <img class='arr-red-ico' src="{{ `images/arr_red.svg` | absURL }}">
            <div class="description-wrapper">
                <p>{{.opis_pod_naglowiem | safeHTML}}</p>
            
            </div>
        </div>
        
    </section>
        
    <section class="grupa-marki">
        <div id="makeup">
            <a href="/makijaz/">
                <h2>Makijaż</h2>
            </a>
        </div>
        <div id="dermokosmetyki">
            <a href="/dermokosmetyki/">
                <h2>Dermokosmetyki</h2>
            </a>
        </div>
        <div id="pielegnacja-skory">
            <a href="/pielegnacja-skory/">
                <h2>Pielęgnacja skóry</h2>
            </a>
        </div>
        <div id="pielegnacja-wlosow">
            <a href="/pielegnacja-wlosow/">
                <h2>Pielęgnacja włosów</h2>
            </a>
        </div>
        <div id="pro">
            <a href="/produkty-dla-profesjonalistow/">
                <h2>Produkty dla profesjonalistów</h2>
            </a>
        </div>
        <div id="perfumy">
            <a href="/perfumy/">
                <h2>Perfumy</h2>
            </a>
        </div>
    </section>

    <style>
        .grupa-marki{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding: 0 5rem;
            margin-top: -12rem;
            z-index: 1;
            position: relative;
        }
        .grupa-marki > div{
            width: calc(33.33% - 4rem - 20px);
            display: block;
            height: 100%;
        }
        .grupa-marki > div a{
            background-color: #111;
            color: #fff;
            text-decoration: none;
            padding: 2rem;
            transition: all .3s;
            display: block;
            height: 100%;
        }
        .grupa-marki > div a:hover{
            text-decoration: underline;
            transform: translateY(-10px);
        }
    </style>
    
    {{end}}
    {{if .Params.dodaj_formularz }}
        {{- partial "form_full.html" . -}}
    {{end}}
{{ end }}