{{ define "main" }}
{{$bread:= .}}
{{$sites :=.Sites.First.GetPage "/uploads"}}
    {{ with .Params }}
    <section class="banner-area" >
        {{ partial "breadcrumbs.html" $bread }}
        <div class="banner-logo-cnt"> <img class='banner-logo' src="{{ `images/s-brands-logo.svg` | absURL }}"></div>
        <div class="header-cnt">
            {{- partial "header-tag.html" (dict "context" . "header_list" .header_repeater "custom_class" "banner-header")  -}}
            <img class='arr-red-ico' src="{{ `images/arr_red.svg` | absURL }}">
            <div class="description-wrapper">
                <p>{{.opis_pod_naglowiem | safeHTML}}</p>
            
            </div>
        </div>
        
    </section>
        
    
    </section>
    {{end}}
    {{if .Params.dodaj_formularz }}
        {{- partial "form_full.html" . -}}
    {{end}}
{{ end }}